* {
    margin: 0;
    padding: 0 0 0 0;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  }
  60% {
    background-position: 600px;
  }
  
  video {
    width: 100%!important;
    height: 100%!important;
    object-fit: cover;
  }
}

.signupContainer {
  position: absolute;
  top: 50%;
  left: 50%;
  align-items: center;
  justify-content: center;
  transform: translate(-50%, -50%) perspective(1000px);
  z-index: 1;
  display: flex;
  flex-direction: column;
  font-size: 30px;
  color: rgb(196, 196, 196);
}

.signupContainer h1 {
  font-size: 3rem;
  transform: rotateX(25deg);
  text-shadow: 10px 5px 20px rgb(0, 0, 0, 1);
  margin-bottom: 10px;
  margin-top: 10px;
}

.signupContainer input {
  margin-top: 5px;
}

.signupContainer button {
  font-size: 25px;
  margin-top: 15px;
  width: 150px;
  border: 3px solid black;
  border-radius: 5px;
}

.signupContainer button:hover {
  font-size: 30px;
  background-color: black;
  color: white;
}

@media only screen and (max-width: 600px) {
  /* Styles for screens that are 600px or smaller */
  .content {
    font-size: 20px;
  }
}

@media only screen and (min-width: 601px) and (max-width: 900px) {
  /* Styles for screens that are between 601px and 900px */
  .content {
    font-size: 25px;
  }
}

@media only screen and (min-width: 901px) {
  /* Styles for screens that are 901px or larger */
  .content {
    font-size: 30px;
  }
}
