 * {
  margin: 0;
  padding: 0;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

.calendarHeader {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background-color: #f2f2f2;
  border-bottom: 1px solid #d9d9d9;
}

.calendar {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main {
  width: 100%;
  height: 100vh;
}

.video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.content {
  
  width: 100%;
  height: 100%;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  font-style: italic;
  font-weight: bolder;
  font-size: 30px;
  letter-spacing: 3px;
}

 .rotate {
  padding-bottom: 400px;
  width: 400px;
  height: auto;
} 

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}

.animate:hover {
  color: hsl(0, 33%, 99%);
  font-size: 60px !important;
  font-weight: bolder !important;
  cursor: pointer;
  font-style: italic;
}

.animate:hover {
  background: linear-gradient(
    to right,
    hsl(0, 0%, 61%) 0,
    hsl(0, 0%, 100%) 10%,
    hsl(0, 0%, 61%) 20%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: shine 6s infinite linear;
}

@keyframes shine {
  0% {
    background-position: 0;
  }
  60% {
    background-position: 600px;
  }
  100% {
    background-position: 600px;
  }
}

.signupContainer {
  position: absolute;
  top: 60%;
  left: 50%;
  align-items: center;
  justify-content: center;
  transform: translate(-50%, -50%) perspective(1000px);
  z-index: 1;
  display: flex;
  flex-direction: column;
  font-size: 30px;
  color: rgb(196, 196, 196);
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
}

.signupContainer h1 {
  text-shadow: 10px 5px 20px rgb(0, 0, 0, 1);
  text-transform: uppercase;
  letter-spacing: 2px;
  font-style: italic;
  margin-bottom: 10px;
  margin-top: 10px;
}

.signupContainer input {
  margin-top: 5px;
}

.signupContainer button {
  font-size: 25px;
  margin-top: 15px;
  width: 150px;
  border: 3px solid black;
  border-radius: 5px;
}

.inputter{
letter-spacing: 2px;
text-transform: uppercase;
font-style: italic;
font-size: 20px;
}

.signupContainer button:hover {
  background-color: rgb(0, 0, 0, 0.5);
  color: white;
  cursor: pointer;
} 

@media only screen and (max-width: 600px) {
  /*Styles for screens that are 600px or smaller*/
.content {
    font-size: 20px;
  }
} 
 @media only screen and (min-width: 601px) and (max-width: 900px) {
   /*Styles for screens that are between 601px and 900px */
   .content {
    font-size: 25px;
  }
}  

 @media only screen and (min-width: 901px) { 
   /*Styles for screens that are 901px or larger */
   .content {
    font-size: 30px;
  }
}  
