.menu-pane{
  z-index: 5;
}
.hamburger-icon {
  position: fixed;
  z-index: 6;
  top: 30px;
  left: 40px;
  padding-bottom: 2vh;
  cursor: pointer;
}

.hamburger-icon span {
  height: 5px;
  width: 40px;
  background-color: rgb(255, 0, 0);
  display: block;
  margin: 5px 0px 5px 0px;
  transition: 0.7s ease-in-out;
  transform: none;
  cursor: pointer;
}

#openmenu:checked ~ .menu-pane {
  left: -5vw;
  transform: translateX(-5vw);
}

#openmenu:checked ~ .body-text {
display: none;
}

#openmenu:checked ~ .hamburger-icon span:nth-of-type(2) {
  transform: translate(0%, 175%) rotate(-45deg);
  background-color: white;
}

#openmenu:checked ~ .hamburger-icon span:nth-of-type(3) {
  transform: rotate(45deg);
  background-color: white;
}

#openmenu:checked ~ .hamburger-icon span:nth-of-type(1) {
  opacity: 0;
}

#openmenu:checked ~ .hamburger-icon span:nth-of-type(4) {
  opacity: 0;
}

div.menu-pane {
  background: linear-gradient(to right, #000000 0%, #363636 100%);
  position: absolute;
  transform: translateX(-105vw);
  transform-origin: (0, 0);
  margin-left: 60px;
  width: 30%;
  height: 100%;
  transition: 0.6s ease-in-out;
  opacity: 1;
  z-index: 4;
}

.menu-pane p {
  color: black;
  font-size: 0.6em;
}

.menu-pane nav {
  padding: 10%;
}

.menu-links li, a, span {
      transition: 0.5s ease-in-out;
      list-style: none;
}

.menu-pane ul {
  padding: 10%;
  
  display: inline-block;
}

.menu-pane li {
  padding-top: 20px;
  padding-bottom: 20px;
  margin-left: 40px;
    font-size: 30px;

}


.menu-pane li:first-child {
  font-size: 40px;
  margin-left: 30px;
}


.menu-links li a {
  color: rgb(255, 255, 255);
  text-decoration: none;
}


.menu-links li:hover a {
  color: #ffffff;
  letter-spacing: 2px;
}

.menu-links li:first-child:hover a {
  color: rgb(0, 0, 0);  
  background-color: #ffffff;
  width: 400px;
}


.menu-links li:first-child:hover #QC-info {
opacity: 1;
}

.menu-links li:first-child:hover #DC-info {
opacity: 1;
}

#DC-info {
  background-color: #ffffff;
    border: 2px solid;
  border-color: #ffffff;
display: block;
  opacity: 0;
  width: 255px;
  text-align: center;
}


.menu-links li:first-child a {
  padding: 5px;
}



input.hamburger-checkbox {
  position: absolute;
  z-index: 3;
  top: 5vh;
  left: 5vw;
  width: 10vw;
  opacity: 0;
  height: 6vh;
}

